/**
 * @name l
 * @author Disease#5663
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://i.imgur.com/QHTQP6G.jpg');
  --accent-hue: 272;
  --accent-saturation: 79%;
  --accent-brightness: 31%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 3.23;
  --gradient-saturation: 73%;
  --gradient-deg: 177deg;
  --customFont: Segoe UI;
}

/* Any custom CSS below here */


